@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f1f2f3;
  color: #2E2E2E;
  font-size: 16px;
  line-height: 1.7;
}

input {
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}